html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.transition {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.icon-container {
  order: 1;
  flex: 1 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  height: 100%;
  width: 15%;
}
.comment-container {
  order: 2;
  flex: 1 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  height: 100%;
  width: 0%;
  overflow: hidden;
}
.image-container {
  position: relative;
  order: 3;
  flex: 1 1 auto;
  align-self: stretch;
  min-width: 0;
  min-height: auto;
  width: 600%;
  height: 100%;
}


.display-image {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
}
i.info-button {
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 5px;
}
i.comment-button {
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 5px;
}
.info-section {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 20%;
  height: 0%;
  overflow: hidden;
  background: #fff9c4;
}
.make-full {
  height: 20%;
  -webkit-box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
.comment-layout-comment{
  width: 250%;
}
.comment-layout-icon{
  width: 25%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin 0;
}


