html,body{
  height: 100%;
  width: 100%;
}

.image-container{
  position: relative;

  height: 80%;
  width: 70%;
  background-size: contain;
  float: right;
  margin-top:2%;


}

.display-image{
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.clickable1{
  position: absolute;
  top: 20%;
  left: 10%;
  background: #676767;
  height: 30%;
  width: 30%;
}